@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-family: "Knewave", serif;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-color: #ff0080;
}
